<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.housemgt.mapper.CreditAdditionalRuleMapper" >
  <resultMap id="BaseResultMap" type="com.housemgt.model.CreditAdditionalRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sereal_id" property="serealId" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="level_people" property="levelPeople" jdbcType="VARCHAR" />
    <result column="level_people_id" property="levelPeopleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sereal_id, grade, level_people, level_people_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_credit_additional_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countBySerealId" resultType="int">
    select count(*)
    from t_credit_additional_rule
    where sereal_id = #{serealId,jdbcType=INTEGER}
  </select>
  <select id="selectBySerealId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_credit_additional_rule
    where sereal_id = #{serealId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_credit_additional_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.housemgt.model.CreditAdditionalRule" >
    insert into t_credit_additional_rule (id, sereal_id, grade, 
      level_people, level_people_id)
    values (#{id,jdbcType=INTEGER}, #{serealId,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, 
      #{levelPeople,jdbcType=VARCHAR}, #{levelPeopleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.housemgt.model.CreditAdditionalRule" >
    insert into t_credit_additional_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serealId != null" >
        sereal_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="levelPeople != null" >
        level_people,
      </if>
      <if test="levelPeopleId != null" >
        level_people_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serealId != null" >
        #{serealId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="levelPeople != null" >
        #{levelPeople,jdbcType=VARCHAR},
      </if>
      <if test="levelPeopleId != null" >
        #{levelPeopleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.housemgt.model.CreditAdditionalRule" >
    update t_credit_additional_rule
    <set >
      <if test="serealId != null" >
        sereal_id = #{serealId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="levelPeople != null" >
        level_people = #{levelPeople,jdbcType=VARCHAR},
      </if>
      <if test="levelPeopleId != null" >
        level_people_id = #{levelPeopleId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.housemgt.model.CreditAdditionalRule" >
    update t_credit_additional_rule
    set sereal_id = #{serealId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      level_people = #{levelPeople,jdbcType=VARCHAR},
      level_people_id = #{levelPeopleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>