<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.housemgt.mapper.LevelPeopleMapper">
  <resultMap id="BaseResultMap" type="com.housemgt.model.LevelPeople">
    <id column="level_people_id" jdbcType="INTEGER" property="levelPeopleId" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
    <result column="level_people" jdbcType="VARCHAR" property="levelPeople" />
  </resultMap>
  <sql id="Base_Column_List">
    level_people_id, level_name, level_people
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_level_people
    where level_people_id = #{levelPeopleId,jdbcType=INTEGER}
  </select>
  <select id="selectBySerealId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_level_people
    where sereal_id = #{serealId,jdbcType=INTEGER}
  </select>
  <select id="selectLevelBySerealId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_level_people
    where sereal_id = #{serealId,jdbcType=INTEGER} GROUP BY level_name ORDER BY level_people_id
  </select>
  <select id="selectBySerealIdAndLevelName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_level_people
    where sereal_id = #{serealId,jdbcType=INTEGER} AND level_name = #{levelName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_level_people
    where level_people_id = #{levelPeopleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.housemgt.model.LevelPeople">
    insert into t_level_people (level_people_id, level_name, level_people
      )
    values (#{levelPeopleId,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, #{levelPeople,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.housemgt.model.LevelPeople">
    insert into t_level_people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="levelPeopleId != null">
        level_people_id,
      </if>
      <if test="levelName != null">
        level_name,
      </if>
      <if test="levelPeople != null">
        level_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="levelPeopleId != null">
        #{levelPeopleId,jdbcType=INTEGER},
      </if>
      <if test="levelName != null">
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelPeople != null">
        #{levelPeople,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.housemgt.model.LevelPeople">
    update t_level_people
    <set>
      <if test="levelName != null">
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelPeople != null">
        level_people = #{levelPeople,jdbcType=VARCHAR},
      </if>
    </set>
    where level_people_id = #{levelPeopleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.housemgt.model.LevelPeople">
    update t_level_people
    set level_name = #{levelName,jdbcType=VARCHAR},
      level_people = #{levelPeople,jdbcType=VARCHAR}
    where level_people_id = #{levelPeopleId,jdbcType=INTEGER}
  </update>
</mapper>